body { text-align: center; padding: 0; border: 0; margin: 0 }
#unity-container { position: absolute }
#unity-container.unity-desktop { width: 100%; height: 100% }
#unity-container.unity-mobile { width: 100%; height: 100% }
#unity-canvas { background: #1c1c1f }
.unity-mobile #unity-canvas { width: 100%; height: 100% ; position:fixed}
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }

#custom-logo, #custom-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#custom-logo {
    background-image: url('Loading Icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 10px;
    margin-bottom: 10px;

    width: 95%;
    height: 600px;
}

#custom-loader {
    
    width: 80%;
    height: 20px;
    border-radius: 5px;
    background: lightgray;
    box-shadow: 0px 0px 10px 5px black;
}

#custom-loader .fill {
    width: 0%;
    height: 100%;
    border-radius: 5px;
    background: rgb(125, 160, 236);
}

#custom-loader .label {
    position: relative;
    top: -10px;
    font-size: 15px;
    text-align: center;
    font-family: sans-serif, calibri;
}
